<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-text">
        <p>&copy; 2023 Maksym Vasylyshyn. All rights reserved.</p>
      </div>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/maksym-vasylyshyn/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/maximiliyano34/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="mexdin.dev@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>
